/*style2.css second experiment*/

body {
  font-family:Verdana,Arial,sans-serif;
  font-size:1.2em;
  line-height: 1.5em;
  padding:0px;
  margin:0px;
  color: black;

  }

  .container {
    width: 100%;
    margin:0px;
    overflow: hidden;
    padding: 0px;
  }

  ul{
    padding:0px;
    /*-webkit-padding-start: 0px;*/
  }

  button#submit {
    background-color: #e8491d;
    opacity: 1.0;
  }

  .allcontent{
    background: url('images/blur.jpg') no-repeat;
    background-size: cover;
    /*min-height:1000px;*/
    }

    .allcontent{
      content: "";
      clear: both;
      display: table;
    }
/*Header style begins*/

header,footer {
  /*width : 100%;*/
  background-color : #35424a;
  /*margin:0px;*/
  padding-top:30px;
  /*min-height:70px;*/
  /*border-bottom: 0.5px black solid;*/

  color: #ffffff;
  border-bottom:#e8491d 3px solid;
  float: left;

  width:100%;
}

header #logo{
  font-style: normal;
  font-family: monospace;
  float:left;
  padding-left: 10px;

}

header h1{
 margin:0px;
  /*color:white;*/
}

header .highlight {
  color: #e8491d;
}

.selected a {

  font-weight: bold;
  font-size: 18px;
  color: #e8491d;
}

a:hover{
  color: #e8491d;
}

header li {
  display:inline;
  float:left;
  padding:0px 10px 0px 10px;
}

header a {
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
  color:white;
  width: 100%;
  height: 100%;
}


header nav{
  float:right;
}

/*Header style ends*/
footer{
  /*position: relative;
  bottom: 0px;
  left: 0px;*/
  width:100%;
  float: left;
}
footer h6{
  text-align: center;
  margin: 0px;
}
/*form*/

h1#form-title  {
  text-align: center;
}

section#form {
  float: left;
  width: 60%;

  color: #ffffff;

  }

.form-container{
  text-align: center;
  }
  form{

  }

  .sidebar{
    float: left;
    width: 35%;
    color: #ffffff;
    text-align: justify;
    margin-right:5px;
  }

input , button {
  width: 50%;
  padding:10px;
  -moz-box-sizing : border-box;
  -webkit-box-sizing  : border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: grey;
  opacity: 0.4;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight:bold;
}

::placeholder{
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

button{

  /*width: 50%;*/
}

@media only screen and (max-width:768px) {
  body{
    font-size: 1em;
  }

  h1{
    font-size: 30px;
  }

  .container {
      width: 100%;
  }
  .allcontent{
    /*min-height:1500px;*/
    width:100%;

  }
/*header styles*/
  #head{
    padding-top: 10px;
  }

  div#logo{
    margin-bottom: 15px;
  }
  nav{
    float: left;
    width: 100%;
    margin: 0px;
  }

  header li{
    float:left;
    width: 100%;
    text-align: center;
    font-size:50px;
    padding:10px;
    margin-bottom:5px;
    border-bottom:3px #e8491d solid;
    padding-bottom: 5px;
  }

  li.top {
    margin-bottom: 0px;
    padding-bottom: 10px;
  }
   li.bottom{
    border-bottom:none;
    padding-bottom:10px;
  }
  header nav{
    padding-top:0px;
    margin: 0px;
    float: left;
    width: 100%;
  }

  header nav ul{
    float: left;
    width: 100%;
    margin: 0px;
  }
  header{
    padding-top: 0px;
}
  div#logo{
    width: 100%;
    padding:0px;
  }
  header div#logo h1{
    text-align: center;
    margin: 0px;
    font-size: 30px;
  }
/*header styke ends*/

/*form design*/
h1#form-title{
  padding: 20px 0px;
}

section#form{
  width:99%;
}
.sidebar{
  width:99%;
  margin: 5px;
}
.sidebar-box{
  width: 45%;
  float: left;
  padding: 10px;
}

input,button{
  width: 95%;
  margin-left: 10px;
  margin-right: 10px;
}
/*form design ends*/

/*footer begins*/
  footer{
    min-height: 40px;
    max-height :50px;
    margin-bottom: 0px;
    padding-top: 0px;
  }
  footer div.container{
      /*margin: 13.5px 0px;*/
  }
  footer h6{
    margin: 13.5px 0px;
  }

}
